	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Welcome to Blocitoff-<br/>
					Where stuff gets done.</h1>
					  <%= link_to "Sign Me Up!", new_user_registration_path, class: "btn btn-warning btn-lg" %>
					  <!--<%= link_to "Show Me More", new_user_registration_path, class: "btn btn-success btn-lg" %>-->
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="http://www.aymlab.com/nechama/ipad-hand.png" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Everyone Can Use Blocitoff.</h1>
				<h3>Blocitoff is a self-destructing to-do list to keep you focused on the things that really matter.</h3>
			</div>
		</div><!-- /row -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Keep Me Posted!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
		<p class="centered"> Developed by Nechama Bergman. Theme by BlackTie.co - Attribution License 3.0 - 2013.  </p>
	</div><!-- /container -->
